:root {
  --bg: WhiteSmoke;
  --bg-img: none;
  --bg-size: auto;
  --bg-attachment: scroll;
  --border: #d0d0d0;
  --text: #3a3a3a;
  --heading: #3a3a3a;
  --link: #67b4ff;
  --link-active: #67b4ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222222;
    --text: WhiteSmoke;
    --heading: WhiteSmoke;
    --border: #3f3f3f;
  }
}

* {
  box-sizing: border-box;
}

body {
  transition: background-color, color 600ms ease-out;
  background-color: var(--bg);
  background-image: var(--bg-img);
  background-size: var(--bg-size);
  background-attachment: var(--bg-attachment);
  color: var(--text);
  font-size: 62.5%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

section {
  font-size: 1rem;
  line-height: 1.7;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section div.content {
  max-width: 680px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
    color: var(--heading);
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: none;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
}

p {
  margin: 0;
}

p.links {
  font-size: 0.875rem;
  line-height: 1.5;
}

a {
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  transition: all 0.1s ease-out;
  text-decoration-color: var(--border);
  color: var(--link);
  font-weight: 300;
}

a:hover,
a:focus {
  color: var(--link-active);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}


@import url("https://p.typekit.net/p.css?s=1&k=flb8dxt&ht=tk&f=4648.4649.4650.4831.5094.5022.5035.5178.5310.5058&a=34&app=typekit&e=css");

@font-face {
font-family:"ff-meta-web-pro-1";
src:url("https://use.typekit.net/af/317357/00000000000000003b9b06db/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/317357/00000000000000003b9b06db/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/317357/00000000000000003b9b06db/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-meta-web-pro-1";
src:url("https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/01fc0c/00000000000000003b9b06e1/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-meta-web-pro-1";
src:url("https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/829fc9/00000000000000003b9b06da/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ff-meta-web-pro-1";
src:url("https://use.typekit.net/af/ac2500/00000000000000003b9b06dd/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/ac2500/00000000000000003b9b06dd/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/ac2500/00000000000000003b9b06dd/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"ff-meta-web-pro-1";
src:url("https://use.typekit.net/af/0f027a/00000000000000003b9b06dc/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/0f027a/00000000000000003b9b06dc/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/0f027a/00000000000000003b9b06dc/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"ff-meta-serif-web-pro-1";
src:url("https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/608768/00000000000000003b9b06f3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"ff-meta-serif-web-pro-1";
src:url("https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/59164f/00000000000000003b9b06f6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-meta-serif-web-pro-1";
src:url("https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6da54c/00000000000000003b9b06f7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-meta-serif-web-pro-1";
src:url("https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/8e6183/00000000000000003b9b06f2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"ff-meta-serif-sc-web-pro-1";
src:url("https://use.typekit.net/af/439e24/000000000000000000016630/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/439e24/000000000000000000016630/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/439e24/000000000000000000016630/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

.tk-ff-meta-web-pro { font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif; }
.tk-ff-meta-serif-web-pro { font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif; }
.tk-ff-meta-serif-sc-web-pro { font-family: "ff-meta-serif-sc-web-pro-1","ff-meta-serif-sc-web-pro-2",serif; }
