:root {
  --bg: WhiteSmoke;
  --bg-img: none;
  --bg-size: auto;
  --bg-attachment: scroll;
  --border: #d0d0d0;
  --text: #3a3a3a;
  --heading: #3a3a3a;
  --link: #f38e2e;
  --link-active: #ee5d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1f1f1f;
    --text: WhiteSmoke;
    --heading: WhiteSmoke;
    --border: #3f3f3f;
  }
}

* {
  box-sizing: border-box;
}

body {
  transition: background-color, color 600ms ease-out;
  background-color: var(--bg);
  background-image: var(--bg-img);
  background-size: var(--bg-size);
  background-attachment: var(--bg-attachment);
  color: var(--text);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

section {
  font-size: 1rem;
  line-height: 1.7;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section div.content {
  max-width: 640px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
    color: var(--heading);
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: none;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
}

p {
  margin: 0;
}

p.links {
  font-size: 0.875rem;
  line-height: 1.5;
}

a {
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  transition: all 0.1s ease-out;
  text-decoration-color: var(--border);
  color: var(--link);
  font-weight: 300;
}

a:hover,
a:focus {
  color: var(--link-active);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
